/*Eliminate initial border*/

body{
    margin: 0px;
}

#stathics{
  border: 3px solid red;
  color: white;
  position: absolute;
  z-index: 1000;
  left: 200px;
  top: 100px;
  opacity: 5px;
}

#datos{
  text-align: center;
  border: 1px solid green;
}

button{
    /*Basic rules*/
    width: 15vw;
    height: 10vh;
    position: absolute;
    z-index: 100;

    /*Style Main*/
    background: black;
    border: 2px white solid;
    border-radius: 5px;
    color : white;
    font-size: 30px;
}

.option{
    width: 8vw;
    height: 5vh;
    bottom: 30px;
    font-size: 20px;
}

.option:hover{
    border-color: lightyellow;
    color: yellow;
}

#button-start{
    left: 1vw;
    bottom: 10px;
}

#button-start:hover{
    transition: all .5s;
    border: 2px red solid;
    color: red;
}

#button-stop{
    left: 17vw;
    bottom: 10px;
}

#button-stop:hover{
    transition: all .5s;
    border: 2px cyan solid;
    color: cyan;
}

#option_1{
    left: 35vw;
}

#option_2{
    left: 45vw;
}

#option_3{
    left: 55vw;
}

#option_4{
    left: 65vw;
}

#option_5{
    left: 75vw;
}

#option_6{
    left: 85vw;
}
